body {
    margin:0;padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:calc(100vh - 50px);
}

#main h2 {
    font-size: 30px;
}

#main ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

#main li {
    color: #666;
    background-color: #eee;
    font-size: 18px;
    list-style-type: none;
    margin: 10px;
}

#main a {
    text-decoration: none;
    color:inherit;
    display: block;
    padding: 15px;
}

#main a:hover {
    background-color: #dedede;
}


#form-container {
    flex-basis:100%;
    height:calc(100vh - 50px);
    padding: 50px;
    align-items: center;
    justify-content: center;
}
form {
    flex-basis:100%;
    padding: 20px;
    display: flex;
    border: 3px solid #aaa;
    flex-direction: column;
    box-sizing: border-box;
}
form group {
    display: flex;
    justify-content: space-between;
    width:100%;
}
fill {
    flex: auto;
    width:100px;
}
form p input {
    width: 100%;
}