#result {
    width: 100%;
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#result h2 {
    clear: both;

}

#error {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoblock {
    display:flex;

}

.infoblock > * {
    background:#eee;
    display:inline-flex;
    height:fit-content;
    border:2px solid #aaa;
    margin-left: 1px;
    margin-right: 1px;
    padding: 10px;
}